<ul>
    {% assign headers = page.content | split: '<h' %}
    {% for header in headers %}
        {% assign header_level = header | slice: 0, 1 %}
        {% if header_level == "1" or header_level == "2" %}
            {% assign header_text = header | split: '</h' | first %}
            {% assign header_id = header_text | strip_html | slugify %}
            {% if header_level == "1" %}
                <li><a href="#{{ header_id }}">{{ header_text | strip_html }}</a></li>
            {% elsif header_level == "2" %}
                <ul>
                    <li><a href="#{{ header_id }}">{{ header_text | strip_html }}</a></li>
                </ul>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
